.Card {
  width: 170px;
  background: #c2ac37;
  border: 5px solid #a9a9a9;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
.Card-description {
  background: #fff;
  padding: 0.5em;
  font-size: 12px;
  margin-bttom: 0.5em;
  border: 2px solid #000;
}
.Card-name {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
.Card-image {
  width: 100%;
}
.Card-attack {
  background: #000;
  color: #fff;
  font-size: 0.75em;
}
body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}
.Layout {
  background-image: url("../img/city.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  border: 1px solid #a52a2a;
  box-sizing: border-box;
  margin: 0.5em;
  min-height: 100vh;
}
.Layout > section {
  margin: 0.5em;
}
.Layout-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Layout-antagonist {
  border: 1px solid #7fffd4;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Layout-status {
  border: 1px solid #008000;
  box-sizing: border-box;
  width: 200px;
}
.Layout-battle {
  background-image: url("../img/pattern.png");
  border: 1px solid #ffa500;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.5em;
}
.Layout-phases {
  border: 1px solid #800080;
  box-sizing: border-box;
  position: relative;
  width: 200px;
}
.Layout-player {
  border: 1px solid #808080;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Status {
  background: #ffa500;
}
.Status-player {
  background: #f00;
  padding: 0.5em;
  color: #fff;
  margin: 0;
}
.Status-points {
  text-align: center;
  padding: 0.5em;
  margin: 0;
}
.Phases {
  background: #fff;
  border: 5px dashed #f00;
  position: absolute;
  right: 0;
}
.Battle-antagonist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Battle-antagonist > div {
  margin: 10px;
}
.Battle-player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Battle-player > div {
  margin: 10px;
}
