doctype html
html(lang="es")
	meta(charset="UTF-8")
	title Marvel Game Card
	link(rel="stylesheet", href="./css/app.css")
body
	//h1 Marvel Game Card
	//include template.jade

	section.Layout
		section.Layout-antagonist
			each card in [1,2,3,4,5]
				include template.jade

		section.Layout-main
			div.Layout-status
				each name in  ["Mac","Karina"]
					include template-status.jade 
			div.Layout-battle battle 
				div.Battle 
					div.Battle-antagonist
						each card in [1,2,3,4,5]
							include template.jade
					div.Battle-player
						each card in [1,2,3,4,5]
							include template.jade
			div.Layout-phases
				- text = "!!!Wow Ese golpe fue muy fuerte me quitastes 300 pts"
				div.Phases
					p= text

		section.Layout-player
			each card in [1,2,3,4,5]
				include template.jade
