.Layout
	background-image url('../img/city.jpg')
	background-size cover
	display flex
	flex-direction column
	justify-content space-between
	padding 0.5em
	borde(brown)
	margin 0.5em
	min-height 100vh
	> section
		margin 0.5em
	&-main 
		display flex
		justify-content space-between
	&-antagonist
		borde(aquamarine)
		display flex
		justify-content space-between
	&-status
		borde(green)
		width 200px
	&-battle 
		background-image url('../img/pattern.png')
		borde(orange)
		flex 1
		margin 0 0.5em
	&-phases
		borde(purple)
		position relative
		width 200px
	&-player
		borde(grey)
		display flex
		justify-content space-between