.Card
	width 170px
	background #C2AC37
	border 5px solid darkgrey
	border-radius 0.5em
	padding 0.5em
	box-shadow 0 0 10px rgba(white, .5)
	&-description
		background white
		padding 0.5em
		font-size 12px
		margin-bttom 0.5em
		border 2px solid black
	&-name
		color white
		text-transform uppercase
		margin 0 0 0.5em 0
		font-size 1em
	&-image
		width 100%
	&-attack
		background black
		color white
		font-size .75em
		
	